<!-- Header logo -->
<a href="./index.html" class="logo-link">
  <svg class="header-logo">
    <use href="./images/sprite.svg#icon-logo-light"></use>
  </svg>
</a>

<!-- Home link -->
<a href="./index.html" class="home-link">HOME</a>

<!-- Shopping link -->
<a href="./shopping-list.html" class="shop-list-link">
  <span class="shop-list-text">SHOPPING LIST</span>
  <svg width="20" height="20" class="cart-icon">
    <use href="./images/sprite.svg#icon-cart"></use>
  </svg>
</a>

<!-- Switcher -->
<div class="toggle"></div>

<!-- User loginization button -->
<button type="button" class="user-btn">
  <div class="user-icon-wrapper">
    <svg width="19" height="19" class="user-icon">
      <use href="./images/sprite.svg#icon-user-fill"></use>
    </svg>
  </div>
  <span class="user-name">User</span>
  <svg width="23" height="26" class="caret-down">
    <use href="./images/sprite.svg#icon-arrow-down"></use>
  </svg>
</button>

<!-- Burger button -->
<button type="button" class="burger-btn">
  <svg class="burger-btn-icon">
    <use href="./images/sprite.svg#icon-align-left-converted"></use>
  </svg>
</button>
