.btn-up {
  position: fixed;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 47px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #4f2ee8;

  opacity: 1;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-up:hover,
.btn-up:focus {
  box-shadow: 0px 0px 0px 6px rgba(79, 46, 232, 0.3);
}

.hidden-btn-up {
  opacity: 0;
  pointer-events: none;
}

.icon-btn-up {
  fill: white;
}
