#tui-pagination-container{
display: flex;
justify-content: center;
.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}
.tui-first-child {
  margin-left: 14px;
  margin-right: 10px;
}

.tui-first,
.tui-prev,
.tui-next,
.tui-last,
.tui-prev-is-ellip,
.tui-next-is-ellip {
  overflow: hidden;
  height: 44px;
  width: 44px;
  padding: 0;
  font-size: 0;
  line-height: 26px;
  white-space: nowrap;
  font-weight: normal;
  border: 1px solid #111111;
}

.tui-is-disabled.tui-first,
.tui-is-disabled.tui-prev {
  background-color: #111111;
  margin-right: 8px;
}

.tui-last {
  margin-right: 0;
  margin-left: 8px;
}

.tui-ico-first,
.tui-ico-prev,
.tui-ico-next,
.tui-ico-last,
.tui-ico-ellip {
  /* background: url('') no-repeat 0 0; */
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

// .tui-first {
//   margin-right: 8px;
// }

.tui-prev-is-ellip
{
  padding: 0;
  line-height: 1;
}

.tui-next {
  margin-right: 0px;
  margin-left: 14px;
}

.tui-ico-first {
  width: 11px;
  height: 10px;
  background-position: 0px 0px;
}

.tui-ico-prev {
  width: 6px;
  height: 10px;
  background-position: -26px 0px;
}

.tui-ico-next {
  width: 6px;
  height: 10px;
  background-position: -13px -24px;
}

.tui-ico-last {
  width: 11px;
  height: 10px;
  background-position: 0px -12px;
}

.tui-ico-ellip {
  width: 10px;
  height: 2px;
  margin-top: 16px;
  vertical-align: top;
  background-position: 0px -24px;
}

.tui-is-disabled:hover {
  // background: #111111;
  cursor: default;
}



.tui-is-disabled .tui-ico-prev {
  background-position: -26px -12px;
  color: #b4afaf;
}

.tui-is-disabled .tui-ico-first {
  background-position: -13px 0px;
}

.tui-is-disabled .tui-ico-next {
  background-position: -21px -24px;
}

.tui-is-disabled .tui-ico-last {
  background-position: -13px -12px;
}

.tui-page-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  margin-left: 0;
  color: #333;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid #111111;
  border-radius: 50%;
  margin-right: 8px;
}



.tui-is-selected,
 strong {
  color: #fff;
  background: #111111;
  border-color: #111111;
  cursor: default;
}

.tui-is-selected:hover {
  background-color: #111111;
}

.tui-page-btn:hover {
  background-color: #eac645;
}

.tui-first-child {
  margin-left: 14px;
}

.tui-last-child {
  margin-right: 24px;
}

.tui-page-inputs {
  display: inline-block;
  vertical-align: top;
}

.tui-page-input {
  display: inline-block;
  width: 10px;
  height: 12px;
  padding: 8px 0 6px;
  font-size: 12px;
  text-align: center;
  color: #333;
  border: 0;
  outline: none;
}

.tui-page-current {
  color: #4b96e6;
}

.tui-page-separator {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  padding: 8px 0 6px;
  vertical-align: top;
}

}