.header-logo-container {
  display: flex;
}

body,
.header-container {
  transition: all 0.3s ease-in-out;
}

body.dark-theme,
.dark-theme .modal-fav,
/* .dark-theme .footer__modal, */
.dark-theme .heder-modal-autoriz {
  background-color: $bgc-dark-theme;
}

.dark-theme .footer__modal {
  background-color: #282525;
}

.dark-theme .header-container {
  background: rgba(0, 0, 0, 0.9);
}

.dark-theme .nav-categories-list::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, rgb(48, 48, 50)),
    color-stop(0.86, rgb(17, 17, 17))
  );
}

.dark-theme .nav-categories-list::-webkit-scrollbar {
  background-color: #202024;
}

.dark-theme .header-link-item .heder-active {
  color: $header-color-dark;
}

.dark-theme .header-link-item,
.dark-theme .modal-close-btn-icon {
  color: $header-color-ligth;
  fill: $header-color-ligth;
  transition: all 0.3s ease-in-out;
}

.dark-theme .header-link-item .heder-active {
  font-weight: 700;
  color: $header-color-dark;
}

.dark-theme .nav-category-item {
  color: rgba(255, 255, 255, 0.6);
}

.dark-theme .label-them {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.dark-theme .header-item-icon,
.dark-theme .header-logo-icon {
  fill: $header-color-ligth;
  transition: all 0.3s ease-in-out;
}

.dark-theme .nav-category-item.active,
.dark-theme .nav-category-item:hover,
.dark-theme .nav-category-item:active,
.dark-theme .nav-category-item:focus {
  color: $accent--text-color-dark;
}

.dark-theme .gallery-title,
.dark-theme .gallery-book-name {
  color: $secondary-text-color-dark;
  transition: all 0.3s ease-in-out;
}

.dark-theme .gallery-see-more-btn,
.dark-theme .fav-add-book-btn {
  color: $secondary-text-color-dark;
  background-color: $bgc-dark-theme;
  transition: all 0.3s ease-in-out;
}

.dark-theme .gallery-see-more-btn:hover,
.dark-theme .gallery-see-more-btn:focus {
  color: $header-color-ligth;
  background-color: $accent-color-ligth;
}

.dark-theme .footer__rights {
  color: $header-color-ligth;
}

.dark-theme .footer__students {
  color: $header-color-ligth;
}

.dark-theme .footer__dev {
  color: $header-color-ligth;
}

.dark-theme .header-mobile-menu-icon,
.dark-theme .header-burger-icon {
  fill: $header-color-ligth;
  stroke: $header-color-ligth;
}

.dark-theme .shoping-list-header,
.dark-theme .description-info .title-name,
.dark-theme .description-info .description-book,
.dark-theme .choice-btn,
.dark-theme .shopping-list-book-title,
.dark-theme .shopping-list-book-about,
.dark-theme .shopping-list-book-about,
.dark-theme .modal-fav-descr,
.dark-theme .modal-fav-title {
  color: $secondary-text-color-dark;
}

.dark-theme .close-modal-icon {
  stroke: $secondary-text-color-dark;
}

.dark-theme .congrats {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .choice-btn {
  background: transparent;
}

.dark-theme .brightness {
  filter: grayscale(100%) brightness(10);
}

.dark-theme .shopping-list-text {
  color: rgba(255, 255, 255, 0.6);
}

.dark-theme .modal-autoriz-close,
.dark-theme .header-modal-form-field,
.dark-theme .header-form-input {
  background: transparent;
}

.dark-theme .header-form-input {
  color: #f6f6f6;
}

.dark-theme .modal-autoriz-icon,
.dark-theme .header-form-field,
.dark-theme .header-form-input,
.dark-theme .autoriz-icon {
  fill: none;
  stroke: #f6f6f6;
  color: #f6f6f6;
}

.dark-theme .header-form-btn {
  background: #f6f6f6;
  color: #111111;
}

.dark-theme .header-form-link {
  color: rgba(246, 246, 246, 0.5);
}

.dark-theme .modal-fav-title {
  color: $secondary-text-color-dark;
}

.dark-theme .modal-fav-author {
  color: $secondary-text-color-ligth;
}

.dark-theme .amaz {
  filter: grayscale(100%) brightness(10);
}

.dark-theme .fav-add-book-btn {
  color: $secondary-text-color-dark;
}

.dark-theme .close-modal-icon {
  stroke: $secondary-text-color-dark;
}

.dark-theme .add-book-notification {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .nav-categories-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgb(32, 32, 36);
  background-color: rgb(32, 32, 36);
}

.dark-theme .nav-categories-list::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, rgb(48, 48, 50)),
    color-stop(0.86, rgb(17, 17, 17))
  );
}

.dark-theme .nav-categories-list::-webkit-scrollbar {
  background-color: #202024;
}

.dark-theme .modal-fav-descr {
  color: $secondary-text-color-dark;
}


    
  