$main-font: 'DM Sans', sans-serif;
$primary-text-color-ligth: #111111;
$secondary-text-color-ligth: #b4afaf;
$accent-text-color-ligth: #4f2ee8;
$accent--text-color-dark: #eac645;
$primary-text-color-dark: rgba(255, 255, 255, 0.6);
$secondary-text-color-dark: #ffffff;
$accent-color-dark: #eac645;
$accent-color-ligth: #4f2ee8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
$header-color-ligth: #ffffff;
$header-color-dark: #111111;
$bgc-ligth-theme: #d0d0d0;
$bgc-dark-theme: #202024;
$support-section-color: radial-gradient(183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%);
$scroll-color: #e0e0e0;