/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 */
:where(html) {
  line-height: 1.15; /* 1 */
}

/* Sections
   * ========================================================================== */
/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Edge, Firefox, and Safari.
   */
:where(h1) {
  font-size: 2em;
  margin-block-end: 0.67em;
  margin-block-start: 0.67em;
}

/* Grouping content
   * ========================================================================== */
/**
   * Remove the margin on nested lists in Chrome, Edge, and Safari.
   */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin-block-end: 0;
  margin-block-start: 0;
}

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Correct the inheritance of border color in Firefox.
   */
:where(hr) {
  box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   * ========================================================================== */
/**
   * Add the correct text decoration in Safari.
   */
:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
:where(b, strong) {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
:where(small) {
  font-size: 80%;
}

/* Tabular data
   * ========================================================================== */
/**
   * 1. Correct table border color in Chrome, Edge, and Safari.
   * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
   */
:where(table) {
  border-color: currentColor; /* 1 */
  text-indent: 0; /* 2 */
}

/* Forms
   * ========================================================================== */
/**
   * Remove the margin on controls in Safari.
   */
:where(button, input, select) {
  margin: 0;
}

/**
   * Remove the inheritance of text transform in Firefox.
   */
:where(button) {
  text-transform: none;
}

/**
   * Correct the inability to style buttons in iOS and Safari.
   */
:where(button,
input:is([type=button i], [type=reset i], [type=submit i])) {
  -webkit-appearance: button;
}

/**
   * Add the correct vertical alignment in Chrome, Edge, and Firefox.
   */
:where(progress) {
  vertical-align: baseline;
}

/**
   * Remove the inheritance of text transform in Firefox.
   */
:where(select) {
  text-transform: none;
}

/**
   * Remove the margin in Firefox and Safari.
   */
:where(textarea) {
  margin: 0;
}

/**
   * 1. Correct the odd appearance in Chrome, Edge, and Safari.
   * 2. Correct the outline style in Safari.
   */
:where(input[type=search i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Safari.
   */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
   * Correct the text style of placeholders in Chrome, Edge, and Safari.
   */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
   * Remove the inner padding in Chrome, Edge, and Safari on macOS.
   */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style upload buttons in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
   * Remove the inner border and padding of focus outlines in Firefox.
   */
:where(button,
input:is([type=button i],
[type=color i],
[type=reset i],
[type=submit i]))::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus outline styles unset by the previous rule in Firefox.
   */
:where(button,
input:is([type=button i],
[type=color i],
[type=reset i],
[type=submit i]))::-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Remove the additional :invalid styles in Firefox.
   */
:where(:-moz-ui-invalid) {
  box-shadow: none;
}

/* Interactive
   * ========================================================================== */
/*
   * Add the correct styles in Safari.
   */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
   * Add the correct display in all browsers.
   */
:where(summary) {
  display: list-item;
}

aside {
  float: none;
  display: block;
  margin-top: 104px;
  margin-bottom: 40px;
}

.main-wrapper {
  flex: 1;
}

@media screen and (min-width: 768px) {
  aside {
    margin-bottom: 100px;
  }
  .left-side {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  aside {
    float: left;
    margin-top: 40px;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-donate {
    width: 100%;
  }
  .main-wrapper {
    display: flex;
  }
}
.nav-categories-section {
  padding-bottom: 40px;
}

.nav-categories-list {
  display: block;
  height: 228px;
  overflow: auto;
  width: 335px;
}

/* scrollbar */
.nav-categories-list::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.nav-categories-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.nav-categories-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 114px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, rgb(153, 137, 226)), color-stop(0.86, rgb(79, 46, 232)));
}

.nav-category-item {
  color: rgba(17, 17, 17, 0.6);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  height: 24px;
  letter-spacing: -0.32px;
  margin-bottom: 24px;
  list-style: none;
  cursor: pointer;
  transition: all 250ms ease;
}

.nav-category-item:not(:last-child) {
  margin-bottom: 24px;
}

.nav-category-item:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-category-item.active,
.nav-category-item:focus {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #4f2ee8;
}

@media screen and (min-width: 768px) {
  .nav-categories-list {
    width: 337px;
    height: 472px;
  }
  .nav-categories-list::-webkit-scrollbar {
    height: 167px;
  }
  .nav-category-item {
    font-size: 18px;
    line-height: 1.33;
  }
  .nav-category-item.active,
  .nav-category-item:focus {
    font-size: 15px;
  }
  .nav-category-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  /* .nav-categories-section {
      padding-bottom: 86px;
    } */
  .nav-categories-list {
    width: 356px;
    height: 472px;
  }
}
.donate-container {
  padding: 24px 40px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #ffffff 100%);
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
}

.gradient {
  background: linear-gradient(149deg, rgb(79, 46, 232) rgba(245, 245, 247, 0.1));
  background-size: 400%;
}

.donate-paragraph {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;
}

.donate-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.donate-index {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  letter-spacing: -0.04em;
}

.donate-funds-list {
  width: 159px;
}

.donate-funds-visible {
  width: 170px;
  height: 208px;
  overflow: hidden;
  margin-bottom: 10px;
}

.donate-fund {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.donate-item-link {
  margin-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.donate-img {
  filter: brightness(0) invert(1);
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.donate-emblem {
  width: 20px;
  height: 32px;
}

.donate-emblem {
  width: 20px;
  height: 32px;
}

.donate-img {
  transition: transform 500ms ease-out;
}

.donate-img:hover {
  transform: scale(1.15);
}

.donate-img:active,
.donate-img:focus {
  transform: scale(0.85);
}

/*-------------------------- Scroll bar--------------------------------------- */
.donate-funds-visible::-webkit-scrollbar {
  width: 0%;
  background-color: transparent;
}

.donate-funds-visible::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/*-------------------------- !Scroll bar!--------------------------------------- */
/*---------------------------- Arrow -------------------------------------------*/
.donate-button {
  width: 32px;
  height: 32px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0 auto;
}

.donate-block-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donate-arrow {
  fill: #4f2ee8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transform: scale(0.7);
  transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-button:hover,
.donate-arrow:focus {
  background-color: #d0d0d0;
}

/* -----------------------! Arrow!--------------------------------- */
/*---------------------------- Arrow up -------------------------------------------*/
.donate-button-up {
  width: 32px;
  height: 32px;
  background-color: #4f2ee8;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  display: none;
}

.donate-arrow-up {
  fill: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg) scale(0.7);
  transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 32px;
  height: 32px;
}

.donate-button-up:focus,
.donate-arrow-up:hover {
  fill: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

/* -----------------------! Arrow up!--------------------------------- */
@media screen and (min-width: 768px) {
  .donate-header {
    margin-bottom: 25px;
  }
  .donate-funds-visible {
    height: 310px;
  }
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.span-theme {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #239af5;
  transition: 0.4s;
  border-radius: 30px;
}

.span-theme:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 20px;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  background-color: #ffffff;
  transition: 0.6s;
}

.sun svg {
  position: absolute;
  top: -2px;
  left: 20px;
  z-index: 1;
  width: 18px;
  height: 24px;
}

.moon svg {
  fill: #ffffff;
  position: absolute;
  top: 1px;
  left: 0px;
  z-index: 1;
  width: 18px;
  height: 18px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .switch:hover */
.moon svg {
  animation: tilt 1.5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.theme-toggle-js:checked + .span-theme {
  background-color: #183153;
}

.theme-toggle-js:focus + .span-theme {
  box-shadow: 0 0 1px #183153;
}

.theme-toggle-js:checked + .span-theme:before {
  transform: translateX(0px);
}

.header-logo-container {
  width: 109px;
}

.header-burger-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  opacity: 1;
  width: 28px;
  height: 28px;
}

.header-mobile-burger {
  background-color: transparent;
}

.header-container {
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header-logo {
  display: flex;
}

.header-mobile {
  display: flex;
  justify-content: space-between;
}

.header-container {
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.switch {
  position: absolute;
  width: 40px;
  height: 20px;
  background: linear-gradient #b4afaf 0%, #dcdcdc 100%;
  border-radius: 20px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.span-theme {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: left 0.35s;
  cursor: pointer;
}

.header-nav-item {
  display: flex;
}

.header-link-item {
  font-weight: 500;
  display: flex;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
}

.header-link-item {
  transition: transform 0.4s ease-in-out;
}

.header-link-item:hover,
.header-link-item :focus {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.logo {
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.logo:hover {
  outline: none;
}

.logo:focus {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.header-link-item-home {
  font-weight: 500;
  margin-left: 40px;
}

.header-link-item,
.header-link-modal {
  border-radius: 36px;
  padding: 8px 16px;
}

.header-link-item-home {
  margin-left: 40px;
}

.header-link-item .heder-active {
  font-weight: 700;
}

.heder-active {
  background-color: rgb(234, 198, 69);
}

.header-item {
  border-radius: 36px;
}

.header-item-icon {
  margin-left: 8px;
}

.header-nav-item {
  display: flex;
  align-items: baseline;
}

.div-theme {
  position: relative;
  display: flex;
  align-items: center;
}

.header-user {
  display: flex;
  width: 184px;
  height: 45px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4f2ee8;
  padding: 14px 15px;
  border: 1.5px solid #111111;
  border-radius: 18px;
}

.header-logo-nav {
  display: flex;
  align-items: center;
}

.header-mobile-menu-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/*------------------MODAL-----------------------------*/
/* .header-mobile-box {
  position: relative;
} */
.header-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 66px;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #ffffff 100%);
  transform: translateX(100%);
  /* opacity: 0; */
  visibility: hidden;
  pointer-events: none;
  transition: transform 500ms linear, visibility 500ms linear;
}

.header-modal.menu-is-open {
  transform: translateX(0%);
  /* opacity: 1; */
  visibility: visible;
  pointer-events: auto;
}

.opacity {
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
}

.header-modal-image {
  background-image: url(../images/Group1k.png);
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: 2;
  top: 53%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .header-modal-image {
    background-image: url(../images/Group2k.png);
  }
}
.menu-toggle-close {
  position: absolute;
  top: -39px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-user-modal {
  display: flex;
  width: 133px;
  height: 37px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4f2ee8;
  padding: 14px 15px;
  border: 1.5px solid #111111;
  border-radius: 18px;
  top: 30px;
  left: 20px;
  position: absolute;
  align-items: center;
}

.header-user-modal-out {
  top: 640px;
  z-index: 300;
  background-color: #ffffff;
  color: #111111;
  width: 118px;
  height: 48px;
}

.header-nav-item-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 247px;
  left: 129px;
}

.header-link-modal-home {
  /* background-color: rgba(234, 198, 69, 1); */
  /* border-radius: 36px;
    padding: 8px 16px; */
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.header-link-modal.heder-active {
  font-weight: 700;
}

.header-link-modal-shopping {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
}

.header-link-modal .heder-active {
  border-radius: 36px;
  padding: 8px 16px;
}

/* .header-link-modal {
    font-weight: 500;
} */
.header-item-modal {
  margin-bottom: 23px;
}

.header-item-icon-modal {
  fill: #ffffff;
}

/*---------------------------------------------*/
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
  /* .header-modal {
    display: none;
  } */
  .header-user {
    display: none;
  }
  .header-container {
    padding: 18px 22.5px;
    position: fixed;
    width: 375px;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.header-box {
  display: flex;
  justify-content: space-between;
}

.switch {
  position: absolute;
  right: 45px;
}

@media screen and (min-width: 768px) {
  .header-mobile-burger {
    display: none;
  }
  .header-container {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 22.5px;
    padding-right: 22.5px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .header-modal-container,
  .header-modal,
  .header-modal-content {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header-link-item-home {
    margin-left: 76px;
  }
  .header-link-item-shopping {
    margin-left: 24px;
  }
  .header-modal-container,
  .header-modal,
  .header-modal-content {
    display: none;
  }
}
/*----------------------MODAL AUTORIZED--------------------*/
.autoriz-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: black;
  fill: #ffffff;
}

.heder-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 3;
  background-color: #4f2ee8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-autoriz-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.modal-autoriz-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.autoriz-icon {
  fill: #ffffff;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 70px;
}

.heder-modal-autoriz {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #f6f6f6;
  border-radius: 18px;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header-form-input-password {
  position: relative;
}

.header-form-input-email {
  position: relative;
}

.autoriz-icon-password {
  position: absolute;
  top: 280px;
}

.autoriz-icon-email {
  position: absolute;
  top: 185px;
}

.header-form-field:not(:last-child) {
  margin-top: 28px;
}

.modal-autoriz-form .header-form-field:nth-child(3) {
  margin-bottom: 40px;
}

.header-form-btn {
  align-items: center;
  font-size: 18px;
  padding: 20px 215px;
  color: rgb(243, 243, 243);
  background-color: #111111;
  border: 2px Solid #111111;
  border-radius: 40px;
  line-height: 24px;
  margin-bottom: 20px;
}

.header-form-link-box {
  display: flex;
  justify-content: center;
}

.header-form-link {
  font-size: 18px;
  color: rgba(17, 17, 17, 0.5);
  line-height: 24px;
  font-weight: 700;
}

.header-form-in {
  margin-left: 20px;
}

/*--------------------------*/
.btn-autoriz-user {
  display: flex;
  align-items: center;
  width: 184px;
  height: 45px;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  color: #ffffff;
  background-color: #4f2ee8;
  vertical-align: top;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  border: 1.5px solid #111111;
  border-radius: 18px;
}

.z-ind {
  z-index: 1;
}

.header-link-trans {
  transition: all 1s ease;
}

.header-link-trans:hover,
.header-link-trans:focus {
  transform: scale(1.3);
  transition: all 1s ease;
}

.home-page {
  margin-top: 74px;
}

/* .main-wrapper{
  background-color: #F6F6F6;
} */
@media screen and (min-width: 768px) and (max-width: 1439.9px) {
  div > .nav-categories-section {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    width: 996px;
    margin-left: 40px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    gap: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery-list {
    gap: 24px;
  }
}
.gallery-list2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .gallery-list2 {
    flex-direction: row;
    gap: 40px 25px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  .gallery-list2 {
    gap: 40px 24px;
  }
}
.gallery-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .gallery-title {
    font-size: 48px;
    line-height: 1.083333;
  }
}
.gellery-title-akcent {
  color: #4f2ee8;
}

.gallery-book-home-link {
  padding-bottom: 8px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .gallery-book-home-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-book-home-link {
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-book-card {
    max-width: 218px;
    gap: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery-book-card {
    max-width: 180px;
    gap: 24px;
  }
}
.gallery-book-cover {
  position: relative;
  overflow: hidden;
  /* z-index: -1; */
  width: 335px;
  height: 485px;
  background-size: cover;
  margin-bottom: 14px;
  border-radius: 8px;
  /* transition: transform var(--animation-duration); */
  transition: transform 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .gallery-book-cover {
    width: 218px;
    height: 316px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery-book-cover {
    width: 180px;
    height: 256px;
  }
}
.gallery-book-cover:active,
.gallery-book-cover:hover,
.gallery-book-cover:focus {
  transform: scale(1.2);
}

.gallery-category {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .gallery-category {
    line-height: 1.714285;
  }
}
@media screen and (min-width: 768px) {
  .book-card {
    display: flex;
    flex-direction: column;
    max-width: 218 px;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .book-card {
    gap: 24px;
  }
}
.gallery-book-name {
  color: #111111;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;
  height: 18px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.gallery-author {
  color: #b4afaf;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 1.166666;
  letter-spacing: -0.04em;
  height: 14px;
  overflow-y: hidden;
}

.gallery-see-more-btn {
  display: block;
  color: #111111;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  /* 
  width: 127px;
  height: 46px; */
  text-align: center;
  padding: 14px 28px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}

.gallery-see-more-btn:hover,
.gallery-see-more-btn:focus {
  color: #ffffff;
  background-color: #4f2ee8;
}

.is-hidden-fav {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-open {
  overflow: hidden;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 1000;
  transform: rotate(0) scale(1);
  transition: opacity 400ms linear 200ms, visibility 400ms linear 200ms;
}

.modal-fav {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 38px 22px;
  max-width: 335px;
  background-color: #ffffff;
  border: 2px solid #111111;
  border-radius: 18px;
  transform: rotate(0) scale(1);
  transition: transform 400ms linear 200ms;
}

.is-hidden-fav .modal-fav {
  transform: rotate(270deg) scale(0);
}

@media screen and (min-width: 768px) {
  .modal-fav {
    width: 579px;
    max-width: 579px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 38px;
  }
  .is-hidden-fav .modal-fav {
    transform: translate(-50%, -65%) rotate(180deg) scale(0);
  }
}
@media screen and (min-width: 768px) {
  .modal-fav-book {
    display: flex;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .book-descr-wrapper {
    display: block;
  }
}
.modal-fav-close-btn {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px;
  cursor: pointer;
  background-color: inherit;
}

.modal-fav-close-btn:hover .close-modal-icon,
.modal-fav-close-btn:focus .close-modal-icon {
  stroke: #4f2ee8;
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .modal-fav-close-btn {
    top: 24px;
    right: 24px;
  }
}
.close-modal-icon {
  stroke: #111111;
  width: 14px;
  height: 14px;
  transition: transform ease-in 400ms, stroke 500ms;
}

.fav-add-book-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  color: #111111;
  padding: 12px 22px;
  background-color: inherit;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  transition: background-color 400ms, color 400ms;
}

@media screen and (min-width: 768px) {
  .fav-add-book-btn {
    font-size: 18px;
    line-height: 1.3333333333;
    width: 100%;
    padding: 18px auto;
  }
}
.fav-add-book-btn:focus {
  background-color: #4f2ee8;
  color: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

.fav-add-book-btn:hover {
  background-color: #4f2ee8;
  color: #ffffff;
}

.modal-fav-btn {
  display: block;
  padding: 6px;
  margin-left: auto;
  cursor: pointer;
  background-color: inherit;
}

.add-book-notification {
  width: 242px;
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(17, 17, 17, 0.5);
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .add-book-notification {
    width: 324px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
.hidden {
  display: none;
}

.buy-label {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .buy-label {
    margin-bottom: 0px;
  }
}
.buy-img {
  filter: grayscale(100%);
  transition: transform 200ms;
}

.buy-img:hover,
.buy-img:focus {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
  transform: scale(1.2);
}

.modal-fav-image {
  width: 287px;
  height: 408px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  margin-bottom: 14px;
  margin-right: 24px;
}

@media screen and (min-width: 768px) {
  .modal-fav-image {
    width: 192px;
    margin-bottom: 0;
    height: 281px;
  }
}
.modal-fav-title {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .modal-fav-title {
    font-size: 24px;
    line-height: 1.1666666667;
    margin-bottom: 8px;
  }
}
.modal-fav-author {
  font-family: "DM Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: -0.04em;
  color: #b4afaf;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .modal-fav-author {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}
.modal-fav-descr {
  max-height: 72px;
  overflow-y: auto;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  letter-spacing: -0.04em;
  color: #111111;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .modal-fav-descr {
    margin-bottom: 20px;
    max-height: 130px;
  }
}
/* Reset styles */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f6f6f6;
}
body body {
  font-family: "DM Sans", sans-serif;
}

/* media rules */
.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 24px;
  }
}
.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container-shop-list {
  display: flex;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 74px;
}

.shop-list-aside {
  display: none;
}

@media screen and (min-width: 1440px) {
  .shopping-list-aside {
    display: flex;
  }
}
.shoping-list-header {
  font-family: "DM Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1875;
  color: #111111;
}

@media screen and (min-width: 768px) {
  .shoping-list-header {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.0833333333;
  }
}
.shoping-list-part {
  color: #4f2ee8;
}

.shopping-list {
  margin-top: 40px;
}

.shopping-list-thumb {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 14px;
  margin-bottom: 14px;
  width: 335px;
  height: 170px;
  display: flex;
  gap: 14px;
  background: transparent;
  position: relative;
  top: 50%;
  opacity: 0;
  animation: fade-in 2s forwards;
  animation-timing-function: ease-out;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .shopping-list-thumb {
    width: 704px;
    height: 213px;
    padding: 24px;
    margin-bottom: 20px;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .shopping-list-thumb {
    width: 996px;
  }
}
.cover-shopping-list {
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .cover-shopping-list {
    width: 109px;
    height: 165px;
  }
}
.book-interface {
  display: flex;
  flex-direction: column;
}

.book-title-btn {
  display: flex;
}

.shopping-list-book-title {
  height: 18px;
  width: 144px;
  font-family: " DM Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 1.125;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .shopping-list-book-title {
    width: auto;
  }
}
.shopping-list-book-category {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  width: 165px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
  margin-bottom: 8px;
  color: #b4afaf;
}

@media screen and (min-width: 768px) {
  .shopping-list-book-category {
    margin-bottom: 14px;
    width: auto;
  }
}
.delete-shopping-list-btn {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 50%;
  border: none;
  background-color: #4f2ee8;
  margin-left: auto;
  padding-left: 5px;
}

.delete-shopping-list-btn :hover,
.delete-shopping-list-btn :focus {
  transform: rotate(360deg);
  transition: all 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .delete-shopping-list-btn {
    width: 34px;
    height: 34px;
  }
}
.delete-shopping-list-icon {
  display: flex;
  fill: white !important;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .delete-shopping-list-icon {
    width: 18px;
    height: 18px;
  }
}
.shopping-list-book-about {
  font-family: " DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  height: 68px;
  width: 193px;
  margin-bottom: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  white-space: pre-wrap;
}

@media screen and (min-width: 768px) {
  .shopping-list-book-about {
    width: 508px;
    height: 53px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .shopping-list-book-about {
    width: 808px;
  }
}
.shopping-list-book {
  display: flex;
}

@media screen and (min-width: 768px) {
  .shopping-list-book {
    align-items: flex-end;
  }
}
.shopping-list-book-author {
  font-family: "DM Sans";
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1666666667;
  width: 97px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #b4afaf;
}

@media screen and (min-width: 768px) {
  .shopping-list-book-author {
    width: auto;
  }
}
.shopping-list-trading {
  margin-left: auto;
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .shopping-list-trading {
    gap: 16px;
    align-items: center;
  }
}
.shopping-list-trading-item :hover,
.shopping-list-trading-item :focus {
  box-shadow: rgba(0, 0, 0, 0.15);
  box-sizing: 3px;
}

.shopping-list-trading-link {
  filter: grayscale(100%);
  transition: transform 300ms;
}

.shopping-list-trading-item :hover,
.shopping-list-trading-item :focus {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
  transform: scale(1.15);
}

.shopping-list-trading-icon-amazon {
  width: 32px;
  height: 11px;
}

.shopping-list-trading-icon-apple-books {
  width: 16px;
  height: 16px;
}

.shopping-list-trading-icon-book-shop {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .shopping-list-trading-icon-amazon {
    width: 48px;
    height: 15px;
  }
  .shopping-list-trading-icon-apple-books {
    width: 28px;
    height: 27px;
  }
  .shopping-list-trading-icon-book-shop {
    width: 32px;
    height: 30px;
  }
}
/* emty shopping list */
@keyframes boom {
  0% {
    scale: 0;
    transform: translateX(0px);
  }
  50% {
    scale: 0, 3;
  }
  100% {
    scale: 1;
    transform: translateX(0px);
  }
}
.empty-shopping-list {
  margin-top: 120px;
  margin-left: 55px;
  animation: boom 1500ms 700ms alternate both;
}

.shopping-list-text {
  margin-bottom: 14px;
  width: 244px;
  min-height: 36px;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.shopping-list-book-img {
  height: 198px;
  width: 265px;
}

@media screen and (min-width: 768px) {
  .empty-shopping-list {
    margin-top: 140px;
    margin-left: 210px;
  }
  .shopping-list-text {
    font-size: 18px;
    line-height: 1.3333333333;
    margin-bottom: 20px;
    width: 349px;
  }
  .shopping-list-book-img {
    padding: 0px 13.5px;
    height: 241px;
    width: 322px;
  }
}
@media screen and (min-width: 1440px) {
  .empty-shopping-list {
    margin-top: 140px;
    margin-left: 355px;
  }
  .shopping-list-text {
    margin-bottom: 20px;
  }
}
.visuallyhidden {
  visibility: hidden;
}

.is-hidden {
  display: none;
}

.form {
  margin-bottom: 20px;
}

.backdrop-auth {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: auto;
  opacity: 1;
  background-image: radial-gradient(circle at top left, rgb(204, 236, 231) -200%, rgb(79, 46, 232));
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop-auth.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-auth {
  position: absolute;
  /* top: 127px; */
  left: 50%;
  transform: translateX(-50%);
  padding: 80px 40px 40px;
  width: 580px;
  /* height:516px; */
  border: 2px solid #111111;
  border-radius: 18px;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .modal-auth {
    width: 335px;
    padding: 40px 20px 72px;
  }
}
.modal-auth-close-btn {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  background-color: inherit;
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 767px) {
  .modal-auth-close-btn {
    top: 14px;
    right: 14px;
  }
}
.modal-auth-close-btn:hover .close-auth-icon,
.modal-auth-close-btn:focus .close-auth-icon {
  stroke: #4f2ee8;
  transform: rotate(180deg);
}

.close-auth-icon {
  stroke: #111111;
  transition: stroke 400ms, transform 400ms;
}

.label {
  position: absolute;
  top: 20px;
  left: 40px;
  pointer-events: none;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  letter-spacing: -0.01em;
  scale: 1;
  transform-origin: top left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-login {
  padding: 20px 40px;
  width: 100%;
  height: 64px;
  border: 2px solid #111111;
  border-radius: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 767px) {
  .input-login {
    padding: 16px 20px;
    height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .label {
    top: 16px;
    left: 20px;
    font-size: 14px;
    line-height: 1.29;
  }
}
.input-login:focus + .label {
  transform: translate(2px, -17px) scale(0.5);
}

.input-filled {
  transform: translate(2px, -17px) scale(0.5);
}

@media screen and (max-width: 767px) {
  .input-login:focus + .label {
    transform: translate(2px, -13px) scale(0.5);
  }
}
.input-grope {
  position: relative;
  margin-bottom: 20px;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 20px 211px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(17, 17, 17);
  color: rgb(243, 243, 243);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
}

@media screen and (max-width: 767px) {
  .submit-btn {
    padding: 16px 116px;
    font-size: 15px;
    line-height: 1.2;
  }
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: rgb(79, 46, 232);
}

.form-menu {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 153px;
  text-transform: uppercase;
}

.btn-form-link {
  position: relative;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgb(79, 46, 232);
}

@media screen and (max-width: 767px) {
  .btn-form-link {
    font-size: 14px;
    line-height: 1.29;
  }
}
.btn-form-link:not(:last-child) {
  margin-right: 20px;
}

.btn-form-link::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 1px;
  right: 0;
  background: rgb(79, 46, 232);
  transition: width 0.1s, left 0.2s;
}

.btn-form-link:hover::after {
  width: 100%;
  left: 0;
}

.sign-icon {
  position: absolute;
  right: 20px;
  top: 24px;
  width: 24px;
  height: 19px;
  stroke: #111111;
  fill: #fff;
}

@media screen and (max-width: 767px) {
  .sign-icon {
    right: 25px;
    top: 19px;
    width: 15px;
    height: 12px;
  }
}
/* *Home */
.is-none {
  display: none;
}

.js-signed-home-btn {
  justify-content: start;
  align-items: center;
  border-radius: 36px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.02em;
}

.user-icon {
  width: 25px;
  height: 25px;
  margin-right: 9px;
}

.js-logout {
  position: absolute;
  transform: translateY(47px);
  background-color: #fff;
  color: #111111;
  /* width: 150px; */
  width: 184px;
  height: 45px;
  border-radius: 36px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-logout.hidden-log {
  transform: translateY(0px);
}

.header-btn-arrow-bottom {
  display: flex;
  justify-content: center;
  fill: white;
  stroke: #fff;
}

.icon-btn_up {
  fill: #fff;
  stroke: #fff;
}

.js-modal-autoriz-open {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
}

.user-icon-down {
  fill: #fff;
  margin-left: auto;
  width: 14px;
  height: 7px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.up {
  transform: rotateX(180deg);
}

.mob-user-name {
  display: flex;
  width: 133px;
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  padding: 14px 15px;
  border-radius: 18px;
  top: 20px;
  left: 10px;
  position: absolute;
  align-items: center;
}/*# sourceMappingURL=index.css.map */