<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <div class="user-profile">
    <svg class="user-photo" width="32" height="32">
      <use href="/src/images/sprite.svg#icon-user"></use>
    </svg>
    <p class="user-name">Mike T</p>
  </div>
  <div class="cont">
    <div class="btn-container">
      <a href="/src/partials/home-page/home-page.html"
        ><button class="home-btn">HOME</button></a
      >
      <a href="/src/partials/shopping-list/shopping-list.html">
        <button class="shopping-list-btn">
          SHOPPING LIST
          <svg class="shop-list-img" width="20" height="20">
            <use href="/src/images/sprite.svg#icon-cart"></use>
          </svg>
        </button>
      </a>
    </div>
    <div class="log-out-btn-cont">
      <a href="">
        <button class="log-out-btn">
          Log out<svg class="log-out-img" width="20" height="20">
            <use href="/src/images/sprite.svg#icon-arr-right"></use>
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>
