<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="user-profile">
    <svg class="user-photo" width="32" height="32">
      <use href="/src/images/sprite.svg#icon-user"></use>
    </svg>
    <p class="user-name">Mike T</p>
  </div>
  <div class="cont">
    <div class="btn-container">
      <a href="/src/partials/home-page/home-page.html"
        ><button class="home-btn">HOME</button></a
      >
      <a href="/src/partials/shopping-list/shopping-list.html">
        <button class="shopping-list-btn">
          SHOPPING LIST
          <svg class="shop-list-img" width="20" height="20">
            <use href="/src/images/sprite.svg#icon-cart"></use>
          </svg>
        </button>
      </a>
    </div>
    <div class="log-out-btn-cont">
      <a href="">
        <button class="log-out-btn">
          Log out<svg class="log-out-img" width="20" height="20">
            <use href="/src/images/sprite.svg#icon-arr-right"></use>
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>
