<div class="backdrop is-hidden-pop-up" data-modal>
  <div class="modal-pop">
    <button class="modal-pop-close-btn" data-modal-close type="button">
      <svg class="close-modal-icon" width="12" height="12">
        <use href="./images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>

    <div class="modal-pop-book"></div>

    <div class="btn-wrap"></div>

    <p class="add-book-notification hidden">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>