.categories {

	min-width: 320px;
	max-width: 327px;
	max-height: 228px;
	overflow-y: scroll;

	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0px;

}

@media only screen and (min-width: 768px) {
	.categories {
		max-width: 337px;
		max-height: 472px;
		margin-bottom: 100px;
	}
}

@media only screen and (min-width: 1400px) {
	.categories {
		max-width: 356px;
		margin-bottom: 86px;
	}
}

.categories-list {
	color: rgba(17, 17, 17, 0.60);
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.12;
	height: 24px;
	letter-spacing: -0.32px;
	margin-bottom: 24px;
	list-style: none;
	cursor: pointer;
	transition: all 250ms ease;
}

.categories-list:last-child {
	margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
	.categories-list {
		font-size: 18px;
		line-height: 1.33;
		margin-bottom: 32px;
	}

}

.categories-list:hover {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.uppercase {
	font-family: DM Sans;
	font-style: normal;
	line-height: 1.12;
	height: 24px;
	letter-spacing: -0.32px;
	margin-bottom: 24px;
	list-style: none;

	color: #4F2EE8;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;

	cursor: pointer;
	transition: all 250ms ease;
}

@media only screen and (min-width: 768px) {
	.uppercase {
		font-size: 15px;
		margin-bottom: 32px;
	}
}


.categories::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.categories::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

.categories::-webkit-scrollbar-thumb {
	border-radius: 10px;
	height: 114px;
	background-image: -webkit-gradient(linear,
			left bottom,
			left top,
			/*color-stop(0.12, rgb(220, 220, 220)),*/
			color-stop(0.5, rgb(153, 137, 226)),
			color-stop(0.86, rgb(79, 46, 232)));
}