// Base header styles

.header {
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid $header-color-dark;
}

.header .container {
  display: flex;
  align-items: center;
}

// Header logo

.logo-link {
  margin-right: 144px;
  padding-bottom: 16.5px;
  padding-top: 16.5px;
}

@media only screen and (min-width: 768px) {
  .logo-link {
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .logo-link {
    margin-right: 76px;
  }
}

.header-logo {
  width: 109px;
  height: 28px;
}

// Home link

.home-link {
  width: 72px;
  padding: 8px 16px;
  margin-right: 16px;
  background-color: $accent-color-dark;
  border-radius: 36px;
  color: $header-color-dark;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1440px) {
  .home-link {
    margin-right: 24px;
  }
}

// Shopping list link

.shop-list-link {
  display: flex;
  align-items: flex-end;
  margin-right: 101px;
  color: $primary-text-color-ligth;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1440px) {
  .shop-list-link {
    margin-right: 745px;
  }
}

.shop-list-text {
  margin-right: 4px;
}

// Toggle animation

.toggle {
  position: relative;
  height: 20px;
  width: 40px;
  margin-right: 14px;
  border-radius: 20px;
  background: linear-gradient(180deg, #4f2ee8 0%, #4f2ee8 0.01%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .toggle {
    margin-right: 24px;
  }
}

.toggle::before {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  background: $header-color-ligth;
  border-radius: 50%;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  transition: all $animation-duration $timing-function;
}

.toggle.active::before {
  left: calc(100% - 18px - 1px);
}

// Toggle dark theme (basics)

.toggle.active {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.dark-body-theme {
  background-color: #202024;
}

// User loginization button

.user-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 184px;
  height: 45px;
  padding: 8px 12px;
  border: none;
  border-radius: 36px;
  background-color: $accent-color-ligth;
}

.user-name {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.44px;
}

.user-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  margin-right: 9px;
  background-color: #fff;
  border-radius: 50%;
}

.user-icon {
  fill: #4f2ee8;
}

.caret-down {
  width: 23px;
  height: 26px;
  fill: #fff;
}

// Burger button

.burger-btn {
  padding: 16.5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.burger-btn-icon {
  width: 28px;
  height: 28px;
}

@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

// Temporary hidden

@media only screen and (max-width: 767px) {
  .home-link {
    display: none;
  }
  .shop-list-link {
    display: none;
  }
  .user-btn {
    display: none;
  }
}
