.header {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1.5px solid #111;
  border-radius: 0px 0px 8px 8px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 144px;
}

.switcher {
  margin-right: 14px;
}
